


<div class="container mt-5 text-center"> 
    <div class="row mt-5">
        <div class="col-xxl-12 col-col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-5">
            <div class="mt-3">
                <p class="fw-medium">Made By</p>
                <h5 class="fw-medium mb-3">Gagandeep Singh</h5>
                <p><small  class="fw-medium mt-2">Profile : </small><a href="https://github.com/Gagandeep39" class="text-purple-800 fw-medium small">https://github.com/Gagandeep39</a></p>
                <p><small  class="fw-medium">Source Code : </small><a href="https://gagandeep39.github.io/angular-fitness-tracker/training" class="text-purple-800 fw-medium small">https://gagandeep39.github.io/angular-fitness-tracker/training</a></p>

            </div>
        </div>
    </div>

</div>
