

<div class="d-flex mt-5 mx-5">
<div class="mt-4 " appSpin>
    <span class="bg-success p-3 rounded-circle text-white"><i class="fa-regular fa-bell"></i></span>
</div>
<div class="mt-4" appSpin>
    <span class="bg-success p-3 rounded-circle text-white mx-3"><i class="fa-regular fa-face-smile"></i></span>
</div>
<div class="mt-4" appSpin>
    <span class="bg-success p-3 rounded-circle text-white"><i class="fa-solid fa-user-plus"></i></span>
</div>
</div>
  

<div class="card-custom mt-5 p-2" (click)="cardMethod()">
    <h4>Card Heading</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque alias aliquam voluptatum voluptatibus et, quod dignissimos nostrum dolorem natus earum. Tenetur blanditiis aliquid a atque sint odio debitis, magni repellat.</p>
  <button class="btn btn-success btn-sm" (click)="buttonMethod()" appStopPropagation>Card Button</button>
</div>

<div class="mx-5 mt-5">
    <div appCustomDirective>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eaque dolorum architecto quis? Modi ea
            fugiat dolores perspiciatis est dignissimos eveniet vel at. Eveniet excepturi eum commodi, placeat debitis
            ratione.</h4>
    </div>
    <br>
    <div appCustomDirective color="red">
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eaque dolorum architecto quis? Modi ea
            fugiat dolores perspiciatis est dignissimos eveniet vel at. Eveniet excepturi eum commodi, placeat debitis
            ratione.</h4>
    </div><br>
    <div appCustomDirective color="blue">
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eaque dolorum architecto quis? Modi ea
            fugiat dolores perspiciatis est dignissimos eveniet vel at. Eveniet excepturi eum commodi, placeat debitis
            ratione.</h4>
    </div><br>
    <div appCustomDirective color="green">
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eaque dolorum architecto quis? Modi ea
            fugiat dolores perspiciatis est dignissimos eveniet vel at. Eveniet excepturi eum commodi, placeat debitis
            ratione.</h4>
    </div>
</div>
<div class="mx-5 mt-5">
    <div appCustomDirective>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eaque dolorum architecto quis? Modi ea
            fugiat dolores perspiciatis est dignissimos eveniet vel at. Eveniet excepturi eum commodi, placeat debitis
            ratione.</h4>
    </div>
    <br>
    <div appCustomDirective color="red">
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eaque dolorum architecto quis? Modi ea
            fugiat dolores perspiciatis est dignissimos eveniet vel at. Eveniet excepturi eum commodi, placeat debitis
            ratione.</h4>
    </div><br>
    <div appCustomDirective color="blue">
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eaque dolorum architecto quis? Modi ea
            fugiat dolores perspiciatis est dignissimos eveniet vel at. Eveniet excepturi eum commodi, placeat debitis
            ratione.</h4>
    </div><br>
    <div appCustomDirective color="green">
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eaque dolorum architecto quis? Modi ea
            fugiat dolores perspiciatis est dignissimos eveniet vel at. Eveniet excepturi eum commodi, placeat debitis
            ratione.</h4>
    </div>
    <div class="mt-5 card-1" appScrolltotop>
        <span class="bg-success p-3 rounded-circle text-white"><i class="fa-solid fa-arrow-up"></i></span>
    </div>
</div>
