<div class="container card-2">
  <div class="row d-flex align-items-end justify-content-center  mt-5">
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 flex align-items-center justify-content-center">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
          <input id="email" type="email" formControlName="email" class="w-20rem p-2 rounded form-control"
            placeholder="Email" [ngClass]="{'error': form.get('email')?.invalid && form.get('email')?.touched}" />
          <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
            <small class="fw-medium">Required *</small>
          </div>
        </div>

        <div>
          <input id="password" type="password" formControlName="password" class="w-20rem p-2 rounded mt-2 form-control"
            [ngClass]="{'error': form.get('password')?.invalid && form.get('password')?.touched}" />
          <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
            <small>Should be at least 6 characters</small>
          </div>
        </div>
        <div class="d-flex align-items-end justify-content-center">
        <button type="submit" [disabled]="loading" class="btn card-1 mt-3 flex align-items-center text-white w-5rem p-2 button justify-content-center">Submit</button>
      </div>
      </form> <br><br>
      <!-- <div class="progress-container mt-3" *ngIf="loading">
        <div class="circular-loader">
          <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"></circle>
          </svg>
        </div>
      </div> -->

    </div>
  </div>
  <div class=" mt-3 d-flex justify-content-center align-items-center"*ngIf="loading">
    <p-progressSpinner ariaLabel="loading" />
</div>
</div>