
<div class="note-1">
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-3">
          <li class="nav-item">
            <a class="nav-link active fw-medium small text-secondary"  
            [routerLink]="['/new-exercise']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">New Exercises</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fw-medium small text-secondary"  
              [routerLink]="['/past-exercise']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Past Exercises</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid mt-4 shadow-1 bg-white">
    <table class="table">
        <tr class="p-2">
          <th  class="p-2">Date</th>
          <th>Name</th>
          <th>Duration (min)</th>
          <th>Calories</th>
          <th>Status</th>
        </tr>
      
      <tbody class="fw-medium">
        <tr *ngFor="let exercise of pastExercises">
          <td>{{ exercise.date }}</td>
          <td>{{ exercise.name }}</td>
          <td>{{ exercise.duration }}</td>
          <td>{{ exercise.calories }}</td>
          <td>{{ exercise.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
  

</div>











  







<!-- src/app/past-exercise/past-exercise.component.html -->
<!-- <div class="container mt-4">
    <h2>Exercise History</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Duration (min)</th>
          <th>Calories</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exercise of pastExercises">
          <td>{{ exercise.date }}</td>
          <td>{{ exercise.name }}</td>
          <td>{{ exercise.duration }}</td>
          <td>{{ exercise.calories }}</td>
          <td>{{ exercise.status }}</td>
        </tr>
      </tbody>
    </table>
  </div> -->
  
  
